<header class="mainHeader bg-rbcpp">
  <nav class="navbar navbar-expand-md navbar-light bg-transparent">
    <div class="container">
      <%= link_to  "Vvlog", root_path, class: 'navbar-brand' %>
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <%= link_to  "About", about_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to  "Contact", contact_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to  "New Post", new_post_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to  "Blog", posts_path, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>