<div class="row my-5">
  <div class="col-md-8 offset-md-2">
    <h1>All Posts</h1>
    <% @posts.each do |post| %>
      <div class="card mb-3">
        <div class="card-body">
          <div class="post-header mb-3">
            <h5 class="post-title mb-0"><%= link_to post.title, post_path(post) %></h5>
            <span class="text-muted sm-text">
              Published By: Sm Ehsan - 
              <%= time_ago_in_words(post.created_at) %> Ago
            </span>
          </div>
          <p class="text-justify">
            <%= truncate(post.content, length: 150) %>
          </p>
        </div>
        <div class="card-footer">
          <%= link_to  "Full Article", post_path(post), class: 'btn btn-sm btn-success' %>
          <%= link_to "Edit", edit_post_path(post), class: 'btn btn-sm btn-warning' %>
          <%= link_to  "Delete", post_path(post), method: :delete, data: {Confirm: "Are you sure?"}, class: 'btn btn-sm btn-danger' %>
        </div>
      </div>
    <% end %>

    <%= paginate @posts, entry_name: 'item' %>
  </div>
</div>
<%= backtotop %>
