<div class="row my-5">
  <div class="col-md-12">
    <div class="card-deck">
      <% @categories.each do |category| %>
        <div class="card mb-3" style="min-width: 16rem;">
          <div class="card-header">
            <h4>
              <%= category.name %>
              <span class="badge badge-info float-right">
                <%= category.posts.count %>
              </span>
            </h4>
          </div>
          <div class="card-body">
            <%= category.description %>
          </div>
          <div class="card-footer">
            <%= link_to  "View", category_path(category), class: 'btn btn-sm btn-success' %>
            <%= link_to  "Edit", edit_category_path(category), class: 'btn btn-sm btn-primary' %>
            <%= link_to  "Delete", category_path(category), method: :delete, data: {Confirm: "Are you sure?"}, class: 'btn btn-sm btn-danger' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>