<div class="row my-5">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header">
        <h3><%= @category.name %></h3>
      </div>
      <div class="card-body">
        <%= @category.description %>
      </div>
      <div class="card-footer d-flex justify-content-between">
        <span class="sm-text text-muted">
          Published at: 
          <%= @category.created_at.strftime("%A, %d %b %Y %l:%M %p") %>
        </span>
        <span>
          <%= link_to  "Edit", edit_category_path(@category), class: 'btn btn-sm btn-outline-primary' %>
          <%= link_to  "Delete", category_path(@category), method: :delete, data: {Confirm: "Are you sure?"}, class: 'btn btn-sm btn-outline-danger' %>
          <%= link_to "Cancle", categories_path, class: 'btn btn-sm btn-outline-warning' %>
        </span>
        
      </div>
    </div>
  </div>
</div>

<div class="row my-5">
  <div class="col-md-8 offset-md-2">
    <% @posts.each do |p| %>
      <div class="card mb-3">
        <div class="card-body">
          <h5><%= link_to p.title, post_path(p) %></h5>
          <span class="text-muted sm-text">
            Published at <%= fa_icon("clock") %>
            <%= p.created_at.strftime("%m-%e-%y %H:%M") %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>